<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <substitutionProperty name="log.base" value="./logs"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logJms" class="ch.qos.logback.classic.net.JMSQueueAppender">
        <InitialContextFactoryName>org.apache.activemq.jndi.ActiveMQInitialContextFactory</InitialContextFactoryName>
        <ProviderURL>failover:(tcp://172.16.2.16:61618)</ProviderURL>
        <QueueConnectionFactoryBindingName>QueueConnectionFactory</QueueConnectionFactoryBindingName>
        <QueueBindingName>dynamicQueues/wx_proxy_back_service_log</QueueBindingName>
    </appender>

    <logger name="org.apache">
        <level value="warn"/>
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="logJms"/>
    </root>
</configuration>
